<body>
  <div id="headline">Liste des questionnaires</div>
  <br />
  <br />
  <br />
  <table>
    <thead>
      <tr>
        <th style="width: 740px">Intitulé</th>
        <th style="width: 200px; text-align: left"><button (click)="onSurveyCreate()">
          Ajouter
        </button>
        </th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let survey of surveys">
        <tr>
          <td style="width: 80px">
            <span mat-mini-flat class="material-icons style3" style="color: white; cursor: default;">
              <mat-icon>assignment</mat-icon>
            </span>

          </td>
          <td style="width: 710px">
            {{ survey.title }}
          </td>
          <td style="width: 150px">
            <button mat-mini-flat class="material-icons style" (click)="openModal(template)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-flat class="material-icons style2" (click)="onSurveyUpdate(survey.id)">
              <mat-icon>edit</mat-icon>
            </button>

            <ng-template #template>
              <div class="modal-body text-center" style="background-color: white; border-radius: 0.4em">
                <p style="font-size: 22px">Confirmer la suppression ?</p>
                <button type="button" class="delete" (click)="confirm(survey)">
                  Supprimer
                </button>
                <button type="button" (click)="decline()">Annuler</button>
              </div>
            </ng-template>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</body>