#headline {
  font-family: arial, sans-serif;
  text-align: left;
  font-size: 26px;
  font-weight: bolder;
  color: #2d3041;
  position: fixed;
  left: 500px;
  top: 100px;
  white-space: nowrap;
}

.material-icons.style {
  cursor: pointer;
  color: white;
  background-color: #2d3041;
  border-radius: 0.4em;
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 5px;
  float: right;

  &:hover {
    background-color: red;
  }
}

.material-icons.style2 {
  cursor: pointer;
  color: white;
  background-color: #9698a0;
  border-radius: 0.4em;
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 5px;
  float: right;

  &:hover {
    background-color: #2d3041;
  }
}

.material-icons.style3 {
  cursor: default;
  color: white;
  background-color:#ec851d;
  border-radius: 0.4em;
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 5px;
}

button {
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 18px;
  border: 3px solid;
  border-color: #00000000;
  background-color: #9698a0;
  color: white;
  border-radius: 0.4em;
  width: 110px;
  height: 32px;
  margin: 10px 5px 10px 5px;

  &.other {
    background-color: #ec851d;
  }

  &.delete {
    background-color: red;
  }

  &:hover {
    background-color: #2d3041;
  }
}

table {
  font-family: arial, sans-serif;
  font-size: 20px;
  height: auto;
  margin-left: 500px;
  margin-right: auto;
  width: 960px;
  color: #2d3041;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 120px;
  text-align: left;

  ::-webkit-scrollbar {
    width: 20px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border-right: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #f4f4f4;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    background-color: #f4f4f4;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9698a0;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;

    &:hover {
      background-color: #2d3041;
      color: white;
    }
  }

  thead {
    display: block;
    overflow: auto;
    text-align: left;
    width: 960px;
    height: 55px;

    button {
      margin: 10px 5px 10px 5px;
    }
  }

  th {
    color: #2d3041;
    background-color: white;
    width: 960px;
    padding-left: 80px;
  }

  tbody {
    text-align: left;
    color: #2d3041;
    display: block;
    overflow: auto;
    margin-top: 0px;
    height: 50%;
    width: 960px;
    position: fixed;

  }

  td {
    width: 960px;

    &:first-child {
      span {
        cursor: pointer;
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 10px 5px 10px 5px;
        border-radius: 0.4em;
        line-height: 50px;
        vertical-align: middle;
        text-align: center;
        font-weight: bolder;
        color: #2d3041;
      }

    }
  }

    tr:nth-child(odd) {
      color: #2d3041;
      background-color: #e2e2e2;
    }

    tr:nth-child(even) {
      color: #2d3041;
    }

}
