<body>
  <button class="button" (click)="onSurveyAdd()">modifier</button>
  <button class="button" (click)="onSurveyRemove()">retirer</button>

  <ng-container *ngFor="let survey of surveys">
    <p>{{ survey.title }} {{ survey.id }}</p>

    <ng-container *ngIf="surveys">
      <td style="width: 160px">
        <button
          nmat-mini-flat
          class="material-icons style"
          (click)="openModal(template)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <ng-template #template>
          <div
            class="modal-body text-center"
            style="background-color: white; border-radius: 0.4em"
          >
            <p style="font-size: 22px">Confirmer la suppression ?</p>
            <button type="button" class="delete" (click)="confirm(survey)">
              Supprimer
            </button>
            <button type="button" (click)="decline()">Annuler</button>
          </div>
        </ng-template>
      </td>
    </ng-container>
  </ng-container>
</body>
