<body class="boundary">
  <ng-container *ngIf="survey">
    <mat-card class="survey-card">
      <mat-card-title>
        <input class="title" value="Nouveau" />
      </mat-card-title>
      <mat-card-content>
        <br />
        <br />
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="questionsSurvey"
          [cdkDropListConnectedTo]="[doneList]"
          class="questions-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="question"
            cdkDragBoundary=".boundary"
            *ngFor="let questionite of questionsSurvey; index as i"
            cdkDrag
          >
            <app-edit-question
              [(inputQuestion)]="questionsSurvey[i]"
            ></app-edit-question>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="questions-list-card">
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="questionsList"
        [cdkDropListConnectedTo]="[todoList]"
        class="questions-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="question"
          cdkDragBoundary=".boundary"
          *ngFor="let question of questionsList"
          cdkDrag
        >
          {{ question.title }}&nbsp;({{ question.questionType }})
        </div>
      </div>
    </mat-card>

    <button type="submit" (click)="onSubmit()">Enregistrer</button>
  </ng-container>
</body>
