#headline {
  font-family: arial, sans-serif;
  text-align: left;
  font-size: 26px;
  font-weight: bolder;
  color: #2d3041;
  position: fixed;
  left: 500px;
  top: 100px;
}

.detailsblock {
  font-family: arial, sans-serif;
  font-size: 26px;
  height: auto;
  border-collapse: collapse;
  margin-left: 550px;
  margin-right: auto;
  margin-top: 60px;
  width: 960px;
  color: #2d3041;
  position: fixed;
}

.photobox {
  background-color: #9698a0;
  color: white;
  border-radius: 0.4em;
  width: 350px;
  height: 450px;
  position: absolute;
  right: 500px;
  margin-top: 155px;
}

.gender {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-bottom: 9.5px;
  border-radius: 15%;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
  color: white;

  &.male {
    background-color: #25aae1;
  }

  &.female {
    background-color: #cf1b6d;
  }

  &.other {
    background-color: #ec851d;
  }
}
