<body>
  <br />
  <br />
  <br />
  <br />

  <div id="headline">Détail Participant</div>

  <br />

  <div class="photobox"></div>

  <div class="detailsblock">
    <ng-container *ngIf="stagiaire">
      <div style="font-size: 50px">
        <p>
          <span
            class="gender"
            [ngClass]="{
              female: stagiaire.gender === 'F',
              male: stagiaire.gender === 'M',
              other: stagiaire.gender === 'X'
            }"
            >{{ stagiaire.gender | genre }}</span
          >
          {{ this.stagiaire.firstName }}
          {{ this.stagiaire.lastName | uppercase }}
        </p>
      </div>

      <div>
        Né.e le
        <span style="font-weight: bold">{{
          stagiaire.birthDate | date : "dd/LL/yyyy"
        }}</span>
      </div>
      <div>{{ stagiaire.email }}</div>
      <div>{{ stagiaire.phoneNumber }}</div>
    </ng-container>
  </div>
</body>
<button
              mat-mini-flat
              class="material-icons style2"

            >
              <mat-icon>add</mat-icon>
            </button>
