<form [formGroup]="addPoeForm" (ngSubmit)="onSubmit()">
  <!-- form fields go here -->
  <mat-form-field>
    <input
      matInput
      placeholder="Nom de formation..."
      type="text"
      formControlName="title"
    />
    <mat-error *ngIf="addPoeForm.controls['title'].errors">
      Le nom de la formation est obligatoire!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>La date du début</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="beginDate" />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error
      *ngIf="
        addPoeForm.controls['beginDate'].errors &&
        addPoeForm.controls['beginDate'].touched
      "
    >
      <span *ngIf="addPoeForm.controls['beginDate'].hasError('required')">
        La date du début est obligatoire.
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>La date de fin</mat-label>
    <input matInput [matDatepicker]="pickerto" formControlName="endDate" />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
    <mat-datepicker #pickerto></mat-datepicker>

    <mat-error
      *ngIf="
        addPoeForm.controls['endDate'].errors &&
        addPoeForm.controls['endDate'].touched
      "
    >
      <span *ngIf="addPoeForm.controls['endDate'].hasError('required')">
        La date de fin est obligatoire.
      </span>
    </mat-error>
  </mat-form-field>

  <mat-radio-group formControlName="poeType">
    <mat-radio-button [value]="'POEI'">POEI</mat-radio-button>
    <mat-radio-button [value]="'POEC'">POEC</mat-radio-button>
  </mat-radio-group>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="addPoeForm.invalid"
  >
    Ajouter
  </button>
</form>

