#headline {
  font-family: arial, sans-serif;
  text-align: left;
  font-size: 26px;
  font-weight: bolder;
  color: #2d3041;
  position: fixed;
  left: 500px;
  top: 100px;
  white-space: nowrap;
}

.nameblock {
  font-family: arial, sans-serif;
  font-size: 26px;
  height: auto;
  border-collapse: collapse;
  margin-left: 550px;
  margin-right: auto;
  margin-top: 60px;
  width: 960px;
  color: #2d3041;
  position: fixed;
}

.detailsblock {
  font-family: arial, sans-serif;
  font-size: 20px;
  height: auto;
  border-collapse: collapse;
  margin-left: 550px;
  margin-right: auto;
  margin-top: 120px;
  width: 960px;
  color: #2d3041;
  position: fixed;
}

.listbox {
  color: #2d3041;
  border-radius: 0.4em;
  width: 350px;
  height: 450px;
  position: fixed;
  left: 1100px;
  line-height: 18px;
  margin-top: 142px;
  font-size: 18px;
  font-weight: bold;
}

.type {
  font-family: consolas, sans-serif, monospace;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 9.5px;
  border-radius: 15%;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
  color: white;

  &.poei {
    background-color: #cf1b6d;
  }

  &.poec {
    background-color: #ec851d;
  }
}

.material-icons.style {
  cursor: pointer;
  color: white;
  background-color: #2d3041;
  border-radius: 0.4em;
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 5px;
  float: right;

  &:hover {
    background-color: red;
    color: white;
  }
}

.material-icons.style2 {
  cursor: pointer;
  color: white;
  background-color: #9698a0;
  border-radius: 0.4em;
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 5px;
  float: right;

  &:hover {
    background-color: #2d3041;
    color: white;
  }
}

button {
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 18px;
  border: 3px solid;
  border-color: #00000000;
  background-color: #9698a0;
  color: white;
  border-radius: 0.4em;
  width: 280px;
  height: 32px;
  margin: 10px 5px 10px 5px;

  &.poei {
    background-color: #cf1b6d;
  }

  &.poec {
    background-color: #ec851d;
  }

  &.delete {
    background-color: red;
  }

  &:hover {
    background-color: #2d3041;
  }
}
