<body>
  <br />
  <br />
  <br />
  <br />

  <div id="headline">Détail de la formation</div>

  <div class="nameblock">
    <ng-container *ngIf="poedetail">
      <div style="font-size: 50px; position: fixed; top: 150px; white-space: nowrap;">
        <p>
          <span class="type" [ngClass]="{
              poei: poedetail.poeType === 'POEI',
              poec: poedetail.poeType === 'POEC'
            }">{{ poedetail.poeType | type }}</span>
          {{ poedetail.title | uppercase }}
        </p>
      </div>
    </ng-container>

  </div>
  <div class="detailsblock">
    <ng-container *ngIf="poedetail">
      <div>
        Du
        <span style="font-weight: bold">{{
          poedetail.beginDate | date : "dd/LL/yyyy"
          }}</span>
        au
        <span style="font-weight: bold">{{
          poedetail.endDate | date : "dd/LL/yyyy"
          }}</span>
      </div>
    </ng-container>
  </div>
  <div class="listbox">

    <button class="button" (click)="OnAddRemove()">
      Ajouter/Retirer stagiaires
    </button>
    <br>
    <br>
    <ng-container *ngFor="let trainee of poedetail.trainees">
      <div style="text-indent: 50px;">
        <p>• {{ trainee.firstName }} {{ trainee.lastName }}</p>
      </div>
    </ng-container>

  </div>
</body>