#headline {
  font-family: arial, sans-serif;
  text-align: left;
  font-size: 26px;
  font-weight: bolder;
  color: #2d3041;
  position: fixed;
  left: 500px;
  top: 100px;
}

#topbuttons {
  margin-left: 500px;
  margin-right: auto;
  width: 600px;
  position: fixed;
}

.material-icons.style {
  cursor: pointer;
  color: white;
  background-color: #2d3041;
  border-radius: 0.4em;
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 5px;
  float: right;

  &:hover {
    background-color: red;
  }
}

.material-icons.style2 {
  cursor: pointer;
  color: white;
  background-color: #9698a0;
  border-radius: 0.4em;
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 5px;
  float: right;

  &:hover {
    background-color: #2d3041;
  }
}

button {
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 18px;
  border: 3px solid;
  border-color: #00000000;
  background-color: #9698a0;
  color: white;
  border-radius: 0.4em;
  width: 100px;
  height: 32px;
  margin: 10px 5px 10px 5px;

  &.poei {
    background-color: #cf1b6d;
  }

  &.poec {
    background-color: #ec851d;
  }

  &.delete {
    background-color: red;
  }

  &:hover {
    background-color: #2d3041;
  }
}

.containerbox {
  font-family: arial, sans-serif;
  font-size: 20px;
  height: auto;
  margin-left: 500px;
  margin-right: auto;
  width: 960px;
  color: #2d3041;
  border-collapse: collapse;
  margin-top: 120px;
  text-align: left;
  position: fixed;

  ::-webkit-scrollbar {
    width: 20px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border-right: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #e2e2e2;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    background-color: #e2e2e2;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9698a0;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;

    &:hover {
      background-color: #2d3041;
      color: white;
    }
  }
  
  .listbox {
    text-align: left;
    color: #2d3041;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow: auto;
    gap: 10px;
    height: 55%;
    width: 960px;
    grid-auto-rows: auto;
    position: fixed;
  }

  .listbox > .poebox {
    text-align: left;
    color: #2d3041;
    background-color: #e2e2e2;
    height: auto;
    width: 295px;
    border-radius: 0.4em;
    padding: 16px;
    font-size: 18px;
    line-height: 18px;
  }

  .type {
    cursor: pointer;
    font-family: consolas, sans-serif, monospace;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 9.5px;
    border-radius: 15%;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    color: white;

      &.poei {
        background-color: #cf1b6d;
        color: white;

        &:hover {
          background-color: #2d3041;
          color: white;
        }
      }

      &.poec {
        background-color: #ec851d;
        color: white;

        &:hover {
          background-color: #2d3041;
          color: white;
        }
      }
    
  }

  .formbutton {
    cursor: pointer;
    font-family: consolas, sans-serif, monospace;
    float: left;
    width: 77px;
    height: 60px;
    font-size: 20px;
    border-radius: 0.4em;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    color: white;
    

      &.completed {
        background-color: #5cc16f;
        color: white;

        &:hover {
          background-color: #2d3041;
          color: white;
        }
      }

      &.inprogress {
        background-color: #25aae1;
        color: white;

        &:hover {
          background-color: #2d3041;
          color: white;
        }
      }

      &.standby {
        background-color: #9698a0;
        color: white;

        &:hover {
          background-color: #2d3041;
          color: white;
        }
      }
    
  }

}
