<div id="leftpanel">
  <div id="title">
    <p>> MENU</p>
  </div>

  <div>
    <ul class="menu-list">
      <div class="menu-item">
        <button class="menu-button">• &nbsp;&nbsp;Formations</button>
        <ul class="menu-sub-list">
          <div class="menu-item">
            <button class="menu-button">Panorama</button>
          </div>
          <div class="menu-item">
            <button class="menu-button" (click)="goToPOESList()">Liste</button>
          </div>
        </ul>
      </div>
      <div class="menu-item">
        <button class="menu-button">• &nbsp;&nbsp;Participants</button>
        <ul class="menu-sub-list">
          <div class="menu-item">
            <button class="menu-button">Panorama</button>
          </div>
          <div class="menu-item">
            <button class="menu-button" (click)="goToTraineesList()">
              Liste
            </button>
          </div>
        </ul>
      </div>
      <div class="menu-item">
        <button class="menu-button">• &nbsp;&nbsp;Ajouter</button>
        <ul class="menu-sub-list">
          <div class="menu-item">
            <button class="menu-button" (click)="goToPOESAdd()">
              Formation
            </button>
          </div>
          <div class="menu-item">
            <button class="menu-button" (click)="goToTraineesAdd()">
              Participant
            </button>
          </div>
        </ul>
      </div>
      <div class="menu-item">
        <button class="menu-button">• &nbsp;&nbsp;Statistiques</button>
      </div>
      <div class="menu-item">
        <button class="menu-button">• &nbsp;&nbsp;Archives</button>
      </div>
    </ul>
  </div>
</div>
