<div id="leftpanel">
  <div id="title">
    <p>> MENU</p>
  </div>

  <div>


    <ul class="menu-list">
      
      <div class="menu-item">
        <button class="menu-button" (click)="goToHome()">
          • &nbsp;&nbsp;Accueil
        </button>
      </div>

      <div class="menu-item">
        <button class="menu-button">• &nbsp;&nbsp;Listes</button>
        <ul class="menu-sub-list">
          <div class="menu-item">
            <button class="menu-button" (click)="goToPOESList()">• &nbsp;&nbsp;Formations</button>
          </div>
          <div class="menu-item">
            <button class="menu-button" (click)="goToTraineesList()">• &nbsp;&nbsp;Participants</button>
          </div>
        </ul>
      </div>

      <div class="menu-item">
        <button class="menu-button">• &nbsp;&nbsp;Ajouter</button>
        <ul class="menu-sub-list">
          <div class="menu-item">
            <button class="menu-button" (click)="goToPOESAdd()">
              • &nbsp;&nbsp;Formation
            </button>
          </div>
          <div class="menu-item">
            <button class="menu-button" (click)="goToTraineesAdd()">
              • &nbsp;&nbsp;Participant
            </button>
          </div>
        </ul>
      </div>

      <div class="menu-item">
        <button class="menu-button" (click)="goToSurveyList()">
          • &nbsp;&nbsp;Questionnaires
        </button>
      </div>
    </ul>
  </div>
</div>
