#leftpanel {
  float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: flex-start;
  align-content: flex-start;
  height: 360px;
  width: 300px;
  border-radius: 0.4em;
  left: 150px;
  top: 150px;
  position: fixed;

  #title {
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    color: #2d3041;
    width: 260px;
    height: 42px;
    margin: 25px 0px 0px 0px;
  }

  .menu-list {
    margin: 0;
    display: block;
    width: 100%;
    padding: 8px;
  }

  .menu-item {
    position: relative;

    .menu-button {
      cursor: pointer;
      font-family: arial, sans-serif;
      font-size: 20px;
      text-align: left;
      text-indent: 16px;
      border: none;
      background-color: #9698a0;
      color: white;
      border-radius: 0.4em;
      width: 220px;
      height: 42px;
      margin: 5px 0px 5px 0px;

      &:hover {
        background-color: #2d3041;
        color: white;
      }

      &:focus {
        background-color: #2d3041;
        color: white;

        & + .menu-sub-list {
          display: flex;
        }

        svg {
          stroke: var(--color-text-primary);
        }
      }

      svg {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        stroke: var(--color-text-primary-offset);

        &:nth-of-type(2) {
          margin-right: 0;
          position: absolute;
        }
      }

      &:active {
        background-color: #2d3041;
        color: white;
      }
    }

    .menu-sub-list {
      display: none;
      padding: 16px;
      border-radius: 10px;
      left: 100%;
      right: 0;
      z-index: 100;
      width: 100%;
      top: 0;
      flex-direction: column;

      &:hover {
        display: flex;
      }
    }
  }
}

