<!-- Etageres à routes : routes-outlet-->
<h1>{{ "appTitle" | translate }}</h1>
<button
  type="button"
  (click)="switchLanguage('fr')"
  [disabled]="intlService.language === 'fr'"
>
  Fr
</button>
<button
  type="button"
  (click)="switchLanguage('en')"
  [disabled]="intlService.language === 'en'"
>
  En
</button>
<nav>
  <ul>
    <li>
      <a [routerLink]="'/stagiaires'">Liste des stagiaires</a>
    </li>
    <li>
      <a [routerLink]="'/detail'">Détails</a>
    </li>
  </ul>
</nav>
<router-outlet> </router-outlet>
