<body>

  <div id="leftpanel">

    <div id="title">
      <p>> MENU</p>
    </div>

    <div>
      <ul class="menu-list">
        <div class="menu-item"><button class="menu-button">• &nbsp;&nbsp;Formations</button>
          <ul class="menu-sub-list">
            <div class="menu-item"><button class="menu-button">Panorama</button></div>
            <div class="menu-item"><button class="menu-button" (click)="goToPOESList()">Liste</button></div>
          </ul>
        </div>
        <div class="menu-item"><button class="menu-button">• &nbsp;&nbsp;Participants</button>
          <ul class="menu-sub-list">
            <div class="menu-item"><button class="menu-button">Panorama</button></div>
            <div class="menu-item"><button class="menu-button" (click)="goToTraineesList()">Liste</button></div>
          </ul>
        </div>
        <div class="menu-item"><button class="menu-button">• &nbsp;&nbsp;Ajouter</button>
          <ul class="menu-sub-list">
            <div class="menu-item"><button class="menu-button" (click)="goToPOESAdd()">Formation</button></div>
            <div class="menu-item"><button class="menu-button" (click)="goToTraineesAdd()">Participant</button></div>
          </ul>
        </div>
        <div class="menu-item"><button class="menu-button">• &nbsp;&nbsp;Statistiques</button>
        </div>
        <div class="menu-item"><button class="menu-button">• &nbsp;&nbsp;Archives</button></div>
      </ul>
    </div>
  </div>

  <div id="topbuttons">

    <br>
    <br>

    <button type="button" (click)="showLi = 'A'" [ngClass]="{'is-selected': showLi === 'A'}">
      Tous
    </button>

    <button type="button" class="woman" (click)="showLi='F'" [ngClass]="{'is-selected': showLi === 'F'}">
      Femme
    </button>

    <button type="button" class="man" (click)="showLi='M'" [ngClass]="{'is-selected': showLi === 'M'}">
      Homme
    </button>

    <button type="button" class="other" (click)="showLi='X'" [ngClass]="{'is-selected': showLi === 'X'}">
      Autre
    </button>

    <br>
    <br>

  </div>

  <table>

    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Genre</th>
        <th>Naissance</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>

      <ng-container *ngFor="let stagiaire of stagiaires">
        <ng-container *ngIf="isShown(stagiaire)">
          <tr>
            <td>
              <span (click)="goToDetail(stagiaire.id)" [ngClass]="{'bubble': true, 
                'male': stagiaire.gender === 'M', 
                'female': stagiaire.gender === 'F',   
                'other': stagiaire.gender === 'X'}">
                {{ stagiaire | initials : full:lastNameFirst }}
              </span>

            </td>
            <td>
              {{ stagiaire.lastName | uppercase}}
            </td>
            <td>
              {{ stagiaire.firstName }}
            </td>
            <td
              [ngClass]="{'female': stagiaire.gender === 'F','male': stagiaire.gender === 'M','other': stagiaire.gender === 'X'}">
              {{stagiaire.gender}}
            </td>
            <td>
              {{ stagiaire.birthDate | date : 'L/dd/yyyy'}}
            </td>
            <td>
              <button mat-mini-flat class="material-icons style" (click)="openModal(template)">
                <mat-icon>delete</mat-icon>
              </button>
              <ng-template #template>
                <div class="modal-body text-center"  style="
                background-color: white;
                border-radius: .4em;">
                  <p style="font-size: 22px;">Confirmer la suppression ?</p>
                  <button type="button" class="delete" (click)="confirm(stagiaire)" >Supprimer</button>
                  <button type="button" (click)="decline()" >Annuler</button>
                </div>
              </ng-template>
              <button mat-mini-flat class="material-icons style2">
                <mat-icon>edit</mat-icon>
              </button>
              
            </td>
          </tr>
        </ng-container>
      </ng-container>


      <td colspan="6" style="font-size: 20px; text-align: center; font-weight: bolder;">
        <br>
        {{getDisplayRowsNumber()}}/{{stagiaires.length}}
      </td>

    </tbody>

  </table>

  <div>
    <br>
    <br>
  </div>

</body>