/**
* SCSS Rules
**/

.menu-list {
  margin: 0;
  display: block;
  width: 100%;
  padding: 8px;
}

.menu-sub-list {
  display: none;
  padding: 8px;
  border-radius: 10px;
  left: 100%;
  right: 0;
  z-index: 100;
  width: 100%;
  top: 0;
  flex-direction: column;
  &:hover {
    display: flex;
  }
}

.menu-item {
  position: relative;
}

.menu-button {
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 20px;
  text-align: left;
  text-indent: 16px;
  border: none;
  box-shadow: 0 10px 20px rgba(darkslategrey, 0.15);
  background-color: grey;
  color: white;
  border-radius: .4em;
  width: 260px;
  height: 42px;
  margin: 5px 0px 5px 0px;
  
  &:hover {
    background-color: black;
    color: white;
  }

  &:focus {
    color: white;
    animation: coolAppear 0.35s ease-in 0s 1 forwards;
    & + .menu-sub-list {
      display: flex;
    }
    svg {
      stroke: var(--color-text-primary);
    }
  }
  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    stroke: var(--color-text-primary-offset);
    &:nth-of-type(2) {
      margin-right: 0;
      position: absolute;
    }
  }
}

#title {
  font-family: arial, sans-serif;
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
  color: black;
  width: 260px;
  height: 42px;
  margin: 25px 0px 0px 0px;
}

#leftpanel {
  float: right;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	margin: 50px auto 50px 150px;
	height: 360px;
	width: 300px;
  border-radius: .4em;
	position: fixed;
}

#topbuttons {
  margin-left: 500px;
  margin-right: auto;
  width: 50vw;
  min-width: 500px;
  
}

.material-icons.style { 
  cursor: pointer;
  color: white; 
  background-color: black;
  box-shadow: 0 10px 20px rgba(darkslategrey, 0.15);
  background-repeat: no-repeat;
  border-radius: .4em;
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 5px;
  float:right
}

button {
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 18px;
    border: none; // No border
    box-shadow: 0 10px 20px rgba(darkslategrey, 0.15);
    background-color: grey;
    color: white;
    border-radius: .4em;
    width: 100px;
    height: 32px;
    margin: 10px 5px 10px 5px;
    
    &:hover {
      background-color: black;
      color: white;
    }
  
    &:focus {
      color: white;
      animation: coolAppear 0.35s ease-in 0s 1 forwards;
    }
}

.button2 {
  cursor: pointer;
  border: none; // No border
  box-shadow: 0 10px 20px rgba(darkslategrey, 0.15);
  background-color: grey;
  color: white;
  border-radius: .4em;
  width: 100px;
  height: 32px;
  margin: 5px 5px 5px 5px;
  
  &:hover {
    background-color: black;
    color: white;
  }

  &:focus {
    color: white;
    animation: coolAppear 0.35s ease-in 0s 1 forwards;
  }
}


@keyframes coolAppear {
    0% {
      background-color: darken(black, 80%);
    }
    50% {
      background-color: darken(black, 40%);
    }
    100% {
      background-color: white;
      color: black;
    }
}

table {
    font-family: arial, sans-serif;
    font-size: 20px;
    height: auto;
    border-collapse: collapse;
    margin-left: 500px;
    margin-right: auto;
    width: 50vw;
    min-width: 500px;
    padding: 8px;
    
  
tbody{

    text-align: left;
    color: black;
  
  td {
    &:first-child {
        span {
            cursor: pointer;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 10px 5px 10px 5px;
            border-radius: .4em;
            line-height: 50px;
            vertical-align: middle;
            box-shadow: 0 10px 20px rgba(darkslategrey, 0.15);
            text-align: center;
            font-weight: bolder;
            &.male {
                background-color: royalblue;
                color: white;
            }

            &.female {
                background-color: hotpink;
                color: white;
            }

            &.other {
              background-color: forestgreen;
              color: white;
          }
        }
    }

 }
 

}
 
th{
  color: black;
  text-align: left;
}

tfoot{
  font-weight: bolder;
  color: black;
}

tr:nth-child(even) {
  color: black;
  background-color: aliceblue;
}

tr:nth-child(odd) {
  color: black;
}
}

a {
  &.btn {
      display: block;
      text-decoration: none;
      padding: .5em;
      border-radius: .25em;
      width: 5em;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
  }
}

