$default-color: rgb(88, 42, 42);
$button-font-color: #ebc4a4;
$button-background-color: rgb(88, 42, 42);
$button-active-color: #ebc4a4;

/**
* SCSS Rules
**/

.material-icons.color_green { 
  cursor: pointer;
  color: #ebc4a4; 
  background-color: rgb(88, 42, 42);
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 5px;
}

div {
  margin-left: 25vw;
  margin-right: 5vw;
  width: 70vw;
  padding: 8px;
}

button {
    border: none; // No border
    background-color: rgb(88, 42, 42);
    color: $button-font-color;
    border-radius: .4em;
    width: 100px;
    height: 32px;
    margin: 5px 5px 5px 5px;
    
    &.is-selected {
        color: $button-background-color;
        animation: coolAppear 1s ease-in 0s 1 forwards;
    }
}

.button2 {
  border: none; // No border
  background-color: rgb(88, 42, 42);
  color: $button-font-color;
  border-radius: .4em;
  width: 100px;
  height: 32px;
  margin: 5px 5px 5px 5px;
  
  &.is-selected {
      color: $button-background-color;
      animation: coolAppear 1s ease-in 0s 1 forwards;
  }
}

@keyframes coolAppear {
    0% {
        background-color: lighten($button-active-color, 80%);
    }
    50% {
        background-color: lighten($button-active-color, 40%);
        transform: rota;
    }
    100% {
        background-color: $button-active-color;
    }
}

 table {
    font-family: arial, sans-serif;
    height: auto;
    border-collapse: collapse;
    margin-left: 25vw;
    margin-right: 5vw;
    width: 70vw;
    padding: 8px;

  
tbody{

    text-align: center;
    color: rgb(88, 42, 42);
  
  td {
    &:first-child {
        span {
            cursor: pointer;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 10px 5px 10px 5px;
            line-height: 50px;
            vertical-align: middle;
            border-radius: 50%;
            text-align: center;
            font-weight: 700;
            &.male {
                background-color: rgb(103, 111, 214);
                color: #ffffff;
            }

            &.female {
                background-color: rgb(214, 122, 168);
                color: #ffffff;
            }

            &.other {
              background-color: rgb(122, 214, 168);
              color: #ffffff;
          }
        }
    }

 }
 

}
 
th{
  color: rgb(88, 42, 42);
  
}
tfoot{
  font-weight: bolder;
  text-align: right;
  color: rgb(88, 42, 42);
  


}
tr:nth-child(even) {
  color: rgb(88, 42, 42);
  background-color: #b4947f;
}

tr:nth-child(odd) {
  color: #ebc4a4;
}
}

a {
  &.btn {
      display: block;
      text-decoration: none;
      padding: .5em;
      border-radius: .25em;
      width: 5em;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
  }
}

