<div>

  <button type="button" (click)="showLi = 'A'" [ngClass]="{'is-selected': showLi === 'A'}">
    Tous
  </button>

  <button type="button" (click)="showLi='F'" [ngClass]="{'is-selected': showLi === 'F'}">
    Femme
  </button>

  <button type="button" (click)="showLi='M'" [ngClass]="{'is-selected': showLi === 'H'}">
    Homme
  </button>

  <button type="button" (click)="showLi='X'" [ngClass]="{'is-selected': showLi === 'X'}">
    Autre
  </button>

</div>

<table>

  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Genre</th>
      <th>Naissance</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>

    <ng-container *ngFor="let stagiaire of stagiaires">
      <ng-container
        *ngIf="isShown(stagiaire)">
        <tr>
          <td>
            <span (click)="goToDetail(stagiaire.id)" [ngClass]="{'bubble': true, 
                'male': stagiaire.gender === 'M', 
                'female': stagiaire.gender === 'F',   
                'other': stagiaire.gender === 'X'}">
              {{ stagiaire | initials : full:lastNameFirst }}
            </span>

          </td>
          <td>
            {{ stagiaire.lastName | uppercase}}
          </td>
          <td>
            {{ stagiaire.firstName }}
          </td>
          <td
            [ngClass]="{'female': stagiaire.gender === 'F','male': stagiaire.gender === 'M','other': stagiaire.gender === 'X'}">
            {{stagiaire.gender}}
          </td>
          <td>
            {{ stagiaire.birthDate | date : 'L/dd/yyyy'}}
          </td>
          <td>
            <button mat-mini-flat class="material-icons style" (click)="onDelete(stagiaire)">
              <mat-icon>delete</mat-icon>
            </button>

          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>


  <tfoot>
    <tr>
      <td colspan="5">
        {{getDisplayRowsNumber()}}/{{stagiaires.length}}
      </td>

      <button type="button" (click)="goToAdd()">
        Ajouter
      </button>
    </tr>

  </tfoot>
</table>