<body>
    <div class="formblock">
      <br />
      <br />
      <ng-container *ngIf="form">
        <div id="headline">
          <p> Identifiez-vous! </p>
        </div>
  
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- form fields go here -->
          <br />
          <br />
          <br />
  
          <mat-form-field style="width: 940px">
            <mat-label>Nom utilisateur</mat-label>
            <input matInput type="text" formControlName="username" />
            <mat-error *ngIf="form.controls['username'].errors">
              Nom d'utilisateur obligatoire.
            </mat-error>
          </mat-form-field>
  
          <br />

            
          <mat-form-field style="width: 940px">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="text" formControlName="password" />
            <mat-error *ngIf="form.controls['password'].errors">
              Mot de passe incorrect.
            </mat-error>
          </mat-form-field>
        
          <div style="text-align: right">
            <button type="submit" [disabled]="form.invalid">Valider</button>
          </div>
        </form>
      </ng-container>
    </div>
  </body>
  