mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

mat-radio-button {
  margin: 5px;
}

input {
  width: 521px;
  border: none;
  border-radius: 0.4em;
  font-size: 18px;

  &:focus {
    outline: none;
  }
}

.material-icons {
  cursor: pointer;
  color: black;
  border: transparent;
  border-radius: 0.4em;

  margin: 0px 5px 0px 5px;

  &:hover {
    background-color: #2d3041;
    color: white;
  }
}
