<form [formGroup]="multipleChoicesForm">
  <mat-radio-group>
    <mat-radio-button *ngFor="let choice of choices" [value]="choice">
      <input type="text" formControlName="choiceName" [ngModel]="choice.name" />
      <div *ngIf="shouldShowChoiceNameRequiredError()">Choice is required.</div>
    </mat-radio-button>
  </mat-radio-group>
  <button (click)="addChoice()">
    <mat-icon>add_box</mat-icon>
  </button>
  <button>
    <mat-icon (click)="removeChoice(choice)">remove</mat-icon>
  </button>
</form>
