mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

mat-radio-button {
  margin: 5px;
}


input {
  width: 514px;
  border: none;
  border-radius: .4em;
  font-size: 18px;

  &:focus {
      outline: none; 
  }

}