<form [formGroup]="multipleChoicesForm">
  <mat-radio-group>
    <mat-radio-button *ngFor="let choice of choices" [value]="choice">
      <input type="text" formControlName="choiceName" [value]="choice.name" />
      <div *ngIf="shouldShowChoiceNameRequiredError()">Choice is required.</div>
    </mat-radio-button>
  </mat-radio-group>
  <button mat-mini-flat class="material-icons" (click)="addChoice()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-flat class="material-icons" (click)="removeChoice()">
    <mat-icon>remove</mat-icon>
  </button>
</form>
