<img src="https://tinyurl.com/39j4rxb8" style="
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: fixed;">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.6">
  <title>Veuillez-vous identifier</title>
</head>
<body>
  <div class="container">
  </div>
<form class="box">
<h1>Bienvenue</h1>
<input type="text" placeholder="Username">
<input type="text" placeholder="Password">
<input type="submit" value="Login" style="background: rgba(215, 199, 186, 0.661);">
<a href="m" style="color:white; display: flex;
flex-direction: column;
justify-content: center;
text-align: center;">Mot de passe oublié ? </a>
<a href="m" style="color:white; display: flex;
flex-direction: column;
justify-content: center;
text-align: center;">Création d'un nouveau compte</a>

</form>
</body>
